* {
  margin: 0;
  padding: 0;
}

.centered {
  width: 100%;
}

#examples {
  overflow: auto;
  margin: 0;
}

gif-player {
  display: block;
  margin: 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 160px;
}
